.app {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 20px;
    background-color: #93A3B1;
}

.roomCard {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color: #DD2D4A;
    color: #CBEEF3;
}

